body{
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
}

hr {
    border: 10px solid;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
}

a {
    color: #000000;
    font-size: 24px;
}

a:hover {
    color: #F11717;
    text-decoration: none;
}

.header {
    background-image: url('images/Programmist.png');
    background-repeat: no-repeat;
    background-position-y: 198px;
    padding-bottom: 250px;
}

.offer {
    top: 167px;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left:720px;
}

.message {
    margin-top: 330px;
    float: right;
}

.about_me hr{
    border-color:  #FFDE0C;
}

.title-1 {
    text-align: center;
}

.information {
    font-size: 48px;
    margin-left: 104px;
    margin-top: 64px;
}

.languages {
    margin-top: 190px;
    margin-left: 100px;
}

.my_work {
    text-align: center;
}

.my-work hr{
    border-color: #ffffff;
}

.first_part {
    padding-top: 240px;
    background-image: url('images/Rectangle\ my\ work.png');
}

.second_part {
    background-color: #FFDE0C;
    padding-top: 39px;
}



.comming_soon {
    background-color: #C4C4C4;
    width: 516px;
    height: 684px;
    border: 29px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
} 

.comming_soon_text {
    padding-top: 151px;
    padding-left: 139px;
}

.a2008 {
    border: 29px solid #ffffff;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    border-bottom-width: 71px;
    width: 516px;
    height: 684px;
    overflow-x: scroll;
    float: right;
}

.link {
    position: absolute;
    margin-top: 625px;
    margin-left: 50%;
}

.footer {
    background-color: #FFDE0C;
    padding-top: 32px;
}

.footer h1{
    text-align: center;
}

.black {
    background-image: url('images/Rectangle\ 7.png');
    background-position-y: 80%;
}

.telegram {
    margin-top: 87px;
}

.button {
    margin-top: 284px;
    border: 1px solid #FFDE0C;
    background-color: #FFDE0C;
    font-size: 64px;
    padding: 35px;
    max-width: 500px;
    border-radius:21px;
    -webkit-border-radius:21px;
    -moz-border-radius:21px;
    -ms-border-radius:21px;
    -o-border-radius:21px;
}

.second_part{
    padding-bottom: 50px;
}

@media screen and (max-width:1316px){
    .offer {
        font-size:48px;
        top: 200px;
    }
}

@media screen and (max-width:1224px){
    .information{
        font-size: 36px;
    }

    .languages{
        margin-left: 0;
        margin-top: 100px;
    }

    .first_part{
        padding-top:10px;
        margin-top: 100px;
        background-image: none;
        background: linear-gradient(#ffffff,#FFDE0C);
    }

    .offer{
        top: 120px;
        left:500px;
    }

    .message{
        margin-top: 240px;
    }

    .header{
        padding-bottom: 450px;
    }
}

@media screen and (max-width:1066px){
    .languages {
        width: 350px;
    }

    .none {
        padding-left: 0px;
        padding-right: 7px;
    }

    .none_2 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width:960px){
    .a2008, .comming_soon{
        margin-left: 25%;
        float: left;
    }

    .comming_soon{
        margin-top: 80px;
    }

    .information{
        margin-left: 50px;
    }

    .black {
        background-color: #000000;
        background-image: none;
    }

    .telegram {
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .button {
        margin-top: 60px;
        font-size: 36px;
        padding: 5px;
        max-width: 250px;
    }

    .link {
        margin-left: 45%;
    }
}

@media screen and (max-width:866px){
    .languages{
        width: 300px;
    }

    .information{
        margin-left: 0px;
    }

    .offer {
        left: 300px;
    }

    .a2008 ,.comming_soon{
        margin-left: 15%;
    }
}

@media screen and (max-width:800px){
    .information {
        font-size: 30px;
    }

    .languages {
        width: 240px;
    }

    .header {
        background-image: url('images/Programmist\ 2.png');
        background-position-x: -20%;
        background-position-y: 90%;
        padding-bottom: 300px;
    }

    .offer {
        left: 240px;
        font-size: 44px;
    }
}

@media screen and (max-width:650px){
    .offer {
        left: 20%;
    }

    .languages{
        width: 200px;
    }

    .information{
        font-size: 20px;
    }
}

@media screen and (max-width:615px){
    .a2008 ,.comming_soon{
        margin-left: 35px;
    }
}

@media screen and (max-width:575px){
    h1{
        font-size: 30px;
    }

    .header{
        background-image: url('images/Programmist\ 3.png');
        background-position-y: 50px;
        background-size: 100%;
        padding-bottom: 0px;
    }

    .offer{
        display: none;
    }

    .offer_2{
        font-size: 36px;
        text-align: center;
    }

    .rocket {
        margin-top: 400px;
        left: 0px;
    }

    .axis:hover .move-up {
        transform: translate(0,-350px);
        -webkit-transform: translate(0,-350px);
        -o-transform: translate(0,-350px);
        -moz-transform: translate(0,-350px);
        -ms-transform: translate(0,-350px);
}

    .object {
        transition: all 5s ease-in-out;
        -webkit-transition: all 5s ease-in-out;
        /**Chrome&Safari**/-moz-transition: all 2s ease-in-out;
        /**Firefox**/-o-transition: all 2s ease-in-out;
        /**Opera**/:;
        -moz-transition: all 5s ease-in-out;
        -ms-transition: all 5s ease-in-out;
        -o-transition: all 5s ease-in-out;
}

    .a2008, .comming_soon{
        margin-left:0px;
    }

    .telegram{
        margin-left: 0px;
    }

    .message{
        position: relative;
        margin-top: 0px;
        float: right;
    }
}